body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'Brooklyn';
    src: url('./fonts/Brooklyn-Bold.eot');
    src: url('./fonts/Brooklyn-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Brooklyn-Bold.woff2') format('woff2'),
        url('./fonts/Brooklyn-Bold.woff') format('woff'),
        url('./fonts/Brooklyn-Bold.ttf') format('truetype'),
        url('./fonts/Brooklyn-Bold.svg#Brooklyn-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brooklyn';
    src: url('./fonts/Brooklyn-SemiBold.eot');
    src: url('./fonts/Brooklyn-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Brooklyn-SemiBold.woff2') format('woff2'),
        url('./fonts/Brooklyn-SemiBold.woff') format('woff'),
        url('./fonts/Brooklyn-SemiBold.ttf') format('truetype'),
        url('./fonts/Brooklyn-SemiBold.svg#Brooklyn-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

.nav-title {
   font-family: 'Brooklyn';
   white-space: nowrap;
   font-weight: bold;
   font-style: normal;
   font-size: 100%;
   text-align: center;
   width: 100%;
   font-size: 24px;
}
.nav-subtitle {
   font-family: 'Brooklyn-SemiBold';
   font-style: normal;
   text-align: center;
   width: 100%;
   font-size: 16px;
}

.heroImage {
  height: 85vh;
}
